page-home {
  #nextQuestionContainer {
    width: 100%;
    text-align: center;
  }

  #headerText {
    font-size: 2.8rem !important;
    font-family: "Prompt", sans-serif;
    font-weight: 200 !important;
    text-shadow: 1px 1px 10px #06530a;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: 023b02;
    margin-bottom: 0rem;
    font-weight: 400;
  }

  #headerText div{
    font-size: 2.8rem;
  }

  #questionText {
    font-size: 4.8rem !important;
    margin-top: 0.5em !important;
    font-family: "Prompt", sans-serif;
    font-weight: 200 !important;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: 023b02;
    margin-bottom: 0rem;
    font-weight: 400;
  }

  button:active {
    background-color: yellow;
  }

  button:focus {
    background-color: purple;
  }

  .quizAnswerItem {
    height: 4em!important;;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3px;
    font-weight: 400;
    font-size: 25px; 
    color:white;
    padding: 0.5em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: rgb(5,66,99);  /* Old browsers */
    // background: -moz-linear-gradient(
    //   top,
    //   #023b02 0%,
    //   #042e04 100%
    // ); /* FF3.6-15 */
    // background: -webkit-linear-gradient(
    //   top,
    //   #023b02 0%,
    //   #042e04 100%
    // ); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(
    //   to bottom,
    //   #023b02 0%,
    //   #042e04 100%
    // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023b02', endColorstr='#042e04',GradientType=0 ); /* IE6-9 */
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.59);
    border-bottom-width: 1px;

    border-top-color: rgba(154, 211, 255, 0.28);
    border-top-width: 1px;

    border-left-color: transparent;
    border-right-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
  }

  .answerButton {
    font-weight: 400;
    font-size: 25px; 
    color:white;
    padding: 2em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background: rgb(5,66,99); /* Old browsers */
    // background: -moz-linear-gradient(
    //   top,
    //   #023b02 0%,
    //   #042e04 100%
    // ); /* FF3.6-15 */
    // background: -webkit-linear-gradient(
    //   top,
    //   #023b02 0%,
    //   #042e04 100%
    // ); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(
    //   to bottom,
    //   #023b02 0%,
    //   #042e04 100%
    // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#023b02', endColorstr='#042e04',GradientType=0 ); /* IE6-9 */
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.59);
    border-bottom-width: 1px;

    border-top-color: rgba(154, 211, 255, 0.28);
    border-top-width: 1px;

    border-left-color: transparent;
    border-right-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
  }

  #startQuiz {
    margin-top: -93em;
    margin-left: 23em;    
    border-radius: 3px;
    font-weight: 400;
    // font-size: 25px; 
    color:white;
    padding: 0.5em;
    border-radius: 20px;
    // border-top-right-radius: 20px;
    // border-top-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    // border-top-left-radius: 20px;
    background: #023b02; /* Old browsers */
    padding: 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 15em;
  }

  #startQuiz span {
    font-size: 30px;
    padding: 0px;
  }

  #questionContent {
    background: url('./assets/imgs/C2Logo_Graphic_Only.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  #resultImage{
    height: 55em!important;
  }

  .resultCardContent {
    padding: 0!important;
  }

  #restartQuiz{
    margin-top: -6em;
    margin-left: 40em;
  }

  .blink {
    animation: blinker 1s step-start infinite;
    font-size: 6.8rem !important;
    // margin-top: -20em !important;
    font-family: "Prompt", sans-serif;
    text-shadow: 1px 1px 10px #363636;
    overflow: hidden;
    text-overflow: ellipsis !important;
    color: #572a05;
    margin-bottom: 0rem;
    font-weight: 400;
    text-align: center;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  #c2cLogo {
    width: 70%;
    margin-top: 2em;
  }

  .item-radio-checked {
    background-color: rgb(250, 239, 84)!important;
  }

  #homeCard {
    background: url('../assets/imgs/hero-img.png');
    margin: 0px;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;
    background-size: cover;
    padding: 0px;
    width: 100%;
    height: 75em;
  }

  #quizHeaderContainer {
    text-align: center;
    background-color: rgb(5,66,99);   
    height: 9em!important;
  }

  .fixed-content {
    padding: 0px;
  }

  .scroll-content {
    padding: 0px;
  }

  #thinkingImg {
    margin-top: 10em;
    margin-left: -4em;
  }

  .optionText {
    font-size: 3.5rem !important;
  }

  #quizQuestionCard {
    height: 63em!important;
  }
}
