<ion-header id="quizHeaderContainer">
   
        <img src="./assets/imgs/home-logo.png" id="c2cLogo"/>
        
</ion-header>

<ion-content >

    <div *ngIf="everythingLoaded">

        <ion-card *ngIf="isHome && !quizFinished" id="homeCard">
            <!-- <ion-card-header>
                <ion-card-title>Welcome to C2C Quiz</ion-card-title>
            </ion-card-header> -->
            <ion-card-content >
                <img src="./assets/imgs/Cute-Thinking-Woman-PNG.png" id="thinkingImg"/>
                <button ion-button  (click)="startQuiz()" id="startQuiz">
                    <img src="./assets/imgs/globes-start-button.png" />
                </button>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="!quizFinished && !isHome" id="quizQuestionCard" >
            <ion-card-content id="questionContent">
                <div id="questionText">{{currentQuestion.question}}</div>
                <button ion-button block (click)="next(1);" class="quizAnswerItem">
                    <ion-label class="optionText">{{currentQuestion.option1}}</ion-label>
                </button>
                <button ion-button block (click)="next(2);" class="quizAnswerItem">
                    <ion-label class="optionText">{{currentQuestion.option2}}</ion-label>
                </button>
                <button ion-button block (click)="next(3);" class="quizAnswerItem">
                    <ion-label class="optionText">{{currentQuestion.option3}}</ion-label>
                </button>
                <!-- <form [formGroup]="quizQuestionForm">
                    <ion-list radio-group [(ngModel)]="currentAnswer" formControlName="listOptions">
                        <ion-item class="quizAnswerItem" (click)="next();">
                            <ion-label class="optionText">{{currentQuestion.option1}}</ion-label>
                            <ion-radio value="1" ></ion-radio>
                        </ion-item>
                        <ion-item class="quizAnswerItem" (click)="next();">
                            <ion-label class="optionText">{{currentQuestion.option2}}</ion-label>
                            <ion-radio value="2"></ion-radio>
                        </ion-item>
                        <ion-item class="quizAnswerItem" (click)="next();">
                            <ion-label class="optionText">{{currentQuestion.option3}}</ion-label>
                            <ion-radio value="3" ></ion-radio>
                        </ion-item>
                    </ion-list>
                </form> -->
            </ion-card-content>
            <!-- <div id="nextQuestionContainer">
                <button ion-button round (click)="next();" *ngIf="questionsAsked !== 4" class="answerButton optionText" >{{nextQuestion}}</button>
                <button ion-button round (click)="next();" *ngIf="questionsAsked === 4" class="answerButton optionText">{{completeQuiz}}</button>
            </div>  -->
        </ion-card> 

        <ion-card *ngIf="quizFinished && !isHome" class="resultCardContent" id="resultCardContentSpace">
            <!-- <ion-card-header>
                <ion-card-title>Total: {{correctAnswers}} correct out of {{questionsAsked}}</ion-card-title>
            </ion-card-header> -->
            <ion-card-content class="resultCardContent">
                <div class="blink">You scored {{ quizResult }} %</div>
                <img id="resultImage" *ngIf="correctAnswers === 5" src="./assets/imgs/fireworks.gif"/>
                <img id="resultImage" *ngIf="correctAnswers === 4" src="./assets/imgs/yahoo.gif"/>
                <img id="resultImage" *ngIf="correctAnswers < 4" src="./assets/imgs/tryAgain.gif"/>
                <button ion-button icon-only (click)="landHome()" id="restartQuiz">
                    <ion-icon name="refresh-circle"></ion-icon>
                </button>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>